@import url('index.css'); /*so we don't have to repeat all the basic css code */


.about-header{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.about-text{
    line-height: 30px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 200px;
}

