body {
    background-color: #E6EBE0;
    color: #ED6A5A;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.welcome-header{
    font-size: 12rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.welcome-text{
    font-size: 2rem;
    color: #000;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}