@import url('index.css'); /*so we don't have to repeat all the basic css code */

.img-fluid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 991px;
    height: 300px;
    object-fit: cover; 
}

.img-thumbnail{
    width: 55px;
    height: 55px;
    padding: 0;
}
.heading-container{
    margin-top: auto;
    margin-bottom: auto;
}

.text-container{
    margin-top: 70px;
}

.main-header{
    font-size: 8rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.proj-header{
    font-size: 2rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.proj-text{
    font-size: 14px;
    color: #000;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}
