body {
    background-color: #E6EBE0;
    color: #ED6A5A;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

a{
    color: #5CA4A9;
    text-decoration: none;
}
a:hover{
    color: #488387;
}

/*
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius:50%
}
*/

/* .navbar-wrapper {
    font-size: 18pt;
    width: auto;
  }

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
   */