@import url('index.css'); /*so we don't have to repeat all the basic css code */

.bio-container{
    margin-top: auto;
    margin-bottom: auto;
}

.bio-row{
    margin-top: 70px;
}

.member-name{
    color: black;
    padding: 30px 0px 10px 0px;
    font-size: larger;
}